.hero {
    object-fit: contain;
    height: 448px;
    color: white;
    position: relative;
}

.hero_contents {
    margin-left: 30px;
    padding-top: 140px;
    height: auto;
    min-height: 190px;
    padding-bottom: 20px;
}

.hero_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    margin: 0;
}

.hero_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: auto;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    transition: all 0.2s;
}

.hero_button:hover {
    color: #000;
    background-color: #e6e6e6;
}

.hero--fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #141414);
    position: absolute;
    bottom: 0px;
    width: 100%;
}