.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_black {
    background-color: #111;
}

.nav_logo {
    color: #E50914;
    /* Netflix Red */
    font-weight: 800;
    font-size: 1.8rem;
    margin: 0 20px;
    cursor: pointer;
}

.nav_avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
    cursor: pointer;
}